.fi-sidebar {
    background-color: var(--colors-sidebar-background);
}

.fi-topbar {
    background: linear-gradient(
        to right,
        var(--colors-sidebar-background) 0 var(--sidebar-width),
        var(--colors-topbar-background) var(--sidebar-width) 100%
    );
}

/* Collapsed sidebar */
body:has(.fi-topbar-close-sidebar-btn[style*="none"]) {
    .fi-topbar {
        --width: calc(var(--collapsed-sidebar-width) + var(--spacing) * 4 - 1px);

        background: linear-gradient(
            to right,
            var(--colors-sidebar-background) 0 var(--width),
            var(--colors-topbar-background) var(--width) 100%
        );
    }

    .fi-topbar-start > button:first-child {
        width: calc(var(--spacing) * 12);
    }

    .fi-topbar-start a:has(.fi-logo) {
        margin-left: calc(var(--spacing) * 12);
    }
}
